/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-oct-2017, 14:03:05
    Author     : macf3rn4nd0
*/
body {
    background-color: #DDDDDD;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

/***********NAV**************/
.imgCoorp{
    height: 85px;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: -47px;
}
#textoNavMovil{
    width:147px;
}
/***********NAV**************/

/**********SECTION***********/
#section{
    text-align: center;
}
/**********SECTION***********/

/***********LOGGIN******************/
.formAcceso{
    width: 100%;
}
#formuarioAcceso{
    width: 280px;
    margin: auto;
}
#usuarioErroneo{
    border-radius: 6px;
    margin: 0 auto;
    padding: 12px 20px 16px 20px;
    text-align: justify;
    border: 1px solid #d8b6c7;
    color: #666;
    background-color: #fceaea;
    width: 36%;
    margin-top: 20px;
}
/**************LOGGIN*****************/
#contenedor{
    margin: 0 auto;
    width: 700px;
    /*background: #1f1f1f;*/
}
#imagen{
    
    text-align: center;
}
#imgImagen{
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #B5B8C8;
    box-shadow: 1px 2px 3px #DDDDDD inset;
}
#imgImagen1{
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #B5B8C8;
    box-shadow: 1px 2px 3px #DDDDDD inset;
}
#cuerpo{
    text-align: -webkit-center;
}
#botonera, #mandoControl{
    margin-top: 8px;
}
#tablaBotonera tr td button{
    margin-left: 5px;
}
#mandoControl{
    margin-bottom: 15px;
}
#click-izquierda, #click-stop, #click-derecha{
    margin-top: 4px;
}
#click-izquierda{
    margin-right:  4px;
}
#click-derecha{
    margin-left: 4px;
}
#click-atras{
    margin-top: 4px;
}
#footer{
    padding-top: 19px;
    background: black;
    color: #fefefe;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#formularioCerrarSession{
    margin-bottom: -22px; 
}

/************CONTACTO********************/


#formContacto{
    width: 100%;
    margin-bottom: 20px;
}
#formularioDeContacto{
    margin: auto;
    width: 350px;
}
#formularioDeContacto label{
    margin-top: 10px;
}
#botoneraFormContacto{
    width: 100%;
    text-align: center;
}
#botoneraFormContacto button, a{
    width: 100px;
}
/**********CONTACTO*******************/
@media only screen and (max-width: 767px) { 
    #imgImagen{
        width: 305px;
    } 
    #imgImagen1{
        width: 305px;
    } 
    #contenedor{
        width: 350px;
    }
    #btnCerrarSession{
        float: left;
        margin-left: 15px;
        margin-top: -10px;   
    }
    #formularioCerrarSession{
        margin-bottom: -29px;
    }
}
